
body{
    background-color: aliceblue;
}
body{
    margin:0;
    padding:0;
}
h1{
    color:#FFBBFF;
    font-family:roboto;
    padding: 0;
    margin:0;
    text-decoration:none

}
header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    border: 1px pink solid;
    padding: 12px;
}
h2{
    color:rgb(39, 39, 134);
}
p{
    color:rgb(72, 72, 204);
}

li{
    color:rgb(72, 72, 204);
}
article{
    background-color:aliceblue;
}