
body{
    background-color: aliceblue;
}
body{
    margin:0;
    padding:0;
}
h1{
    color:#FFBBFF;
    font-family:roboto;
    padding: 0;
    margin:0;
    text-decoration:none

}
header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    border: 1px pink solid;
    padding: 12px;
    box-shadow: 0px 0px 100px rgb(245, 170, 195);
}

.artigo-c-imagem{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.artigo-c-imagem article{
    padding: 12px;
    border: 1px #FFBBFF;
    border-radius: 10px;

}

.artigo-c-imagem article p{
    font-size: 22px;
}
.hobbies{
    display: flex;
    justify-content: center;
    align-items: center;

}
.hobbies{
    font-size: 22px;
}